.bg-container {
  background-color: #ffffff;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #000000;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Roboto';
}
.btn {
  border: 1.5px solid #000000;
  font-size: 14px;
  padding: 7px;
  border-radius: 7px;
  cursor: pointer;
}
.dark-mode {
  background-color: #000000;
  color: #ffffff;
}
.light-mode {
  background-color: #ffffff;
  color: #000000;
}
